@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #0f172a;
  color: antiquewhite;
  padding: 1rem;
  align-items: center;
}

.logo {
  color: white;
  font-size: 35px;
}
.links {
  color: white;
  padding: 0 1rem;

  margin-right: 35rem;
}

.buttons {
  padding: 5px;
  display: flex;
}
.sheet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  background-color: #0f172a;
  border: none;
}
.log_in {
  border: 2px solid white;
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
}

.btn_1 {
  border: 2px solid white;
  background-color: white;
  color: black;
  width: 8rem;
  height: 3rem;
  border-radius: 2rem;
}
@media (max-width: 1435px) {
  .links {
    display: none;
  }
  .buttons {
    display: none;
  }
}
