@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  width: 100%;
  padding: 24px 80px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  background-color: #0f172a;
}
.title {
  color: var(--White, #fff);

  /* Heading/4 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
}
.links {
  color: var(--White, #fff);

  /* Button/M */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.5px;
}
.links:hover {
  border-bottom: 3px solid var(--White, #fff);
  transform: scale(1.1); /* Example: Scale up on hover */
}

@keyframes textAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login_btn {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid var(--White, #fff);
  color: white;
  width: 105px;
}

.publish_btn {
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid var(--White, #fff);
  background: var(--White, #fff);
}

.button {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 50px;
  padding: 0px 0px 0px 555px;
  z-index: 200;
}
