@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.glow_circle {
  width: 468px;
  height: 468px;
  position: absolute;
  right: -62px;
  top: -74px;
  border-radius: 468px;
  opacity: 0.5;
  background: var(--Purple-900, #581c87);
  filter: blur(150px);
  z-index: 100;
}
.sec_1 {
  display: flex;
  padding: 160px 80px 80px 80px;
  align-items: center;
  gap: 80px;
  align-self: stretch;
  background: var(--Blue-Gray-900, #0f172a);
}

.col_1 {
  display: flex;
  padding: 80px 32px 80px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  margin-right: 650px;
  flex: 1 0 0;
  color: #ffffff;
}
.col_1 h1 {
  align-self: stretch;
  color: var(--White, #fff);

  /* Heading/1 L */
  font-family: Roboto;
  font-size: 96px;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 105.6px */
}
.col_1 span {
  align-self: stretch;
  color: var(--White, #fff);
  /* Heading/4 */
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 44px */
}
.col_1 p {
  color: var(--White, #fff);
  /* Body/L */
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.phone {
  position: relative;
  border-radius: 50px;
  outline: 15px solid black;
  z-index: 200;
}

.buttons {
  display: flex;
  gap: 40px;
}
.publish_btn {
  color: black;
}

.line_purple {
  position: absolute;
  background-color: #c026d3;
  width: 100%;
  height: 32px;
  top: 419px;
  bottom: 150px;
  left: 56%;
  z-index: 100;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 500px;
}
.line_golden {
  position: absolute;
  background-color: #ca8a04;
  width: 100%;
  height: 32px;
  top: 485px;
  bottom: 150px;
  left: 52%;
  z-index: 100;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 500px;
}
.line_magenta {
  position: absolute;
  background-color: #9333ea;
  width: 100%;
  height: 32px;
  top: 565px;
  bottom: 150px;
  left: 47%;
  z-index: 100;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 500px;
}

.purple_curve {
  position: absolute;
  left: -43px;
}

.golden_curve {
  position: absolute;
  left: -43px;
}

.magenta_curve {
  position: absolute;
  left: -43px;
}
.vertical_line_pruple {
  top: 62px;
  left: -43px;
  position: absolute;
  width: 30px;
  height: 1620px;
  background-color: #c026d3;
  border-radius: 50px;
}
.vertical_line_golden {
  top: 50px;
  left: -43px;
  position: absolute;
  width: 32px;
  height: 1690px;
  background-color: #ca8a04;
  border-radius: 50px;
}
.vertical_line_magenta {
  top: 50px;
  left: -43px;
  position: absolute;
  width: 32px;
  height: 1690px;
  background-color: #9333ea;
  border-radius: 50px;
}

.bottom_line_purple {
  top: 5280%;
  position: absolute;
  width: 4930px;
  height: 32px;
  left: -5000px;
  background-color: #c026d3;
}
.bottom_purple {
  position: relative;
  top: 1655.5px;
  left: -79px;
}
.bottom_line_golden {
  top: 5500%;
  position: absolute;
  width: 4930px;
  height: 32px;
  left: -5000px;
  background-color: #ca8a04;
}
.bottom_line_magenta {
  top: 5500%;
  position: absolute;
  width: 4930px;
  height: 32px;
  left: -5000px;
  background-color: #9333ea;
}
.bottom_magenta {
  position: relative;
  top: 1725px;
  left: -79px;
}
.bottom_golden {
  position: absolute;
  left: -78px;
  top: 1725px;
}
